.sidebar ul li:hover {
    background-color: rgb(196, 76, 76);
    border-radius: 5px;
    cursor: pointer;
}

/* .sidebar ul li :hover a{
    color: white;
} */
.active{
    background-color: rgb(32, 131, 201);
    border-radius: 5px;
    color:white
}